*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    min-height: 100vh; 
    width: 100%;
    /* background-color: red; */
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.middle :hover{
    color: #ff0404;
    transition: .4s;
    font-weight: bold;
}

.left h1{
    letter-spacing: -1px;
    font-weight: 400;
    font-family: divergentes;
}

.middle{
    display: flex;
    gap:70px;
}

.middle a{
    font-weight: 500;
    text-decoration: none;
    color: black;
}

button{
    border: 1px solid rgb(0, 0, 0);
    padding: 8px 40px;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
}

.right :hover{
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    /* padding: 8px 40px; */
    border-radius: 30px;
    color: white;
    transition: .3s;
}

#content{
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 40px;
    gap: 30px;
}

#myCanvas{
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 40px;
    gap: 30px;
}

#content h3{
    font-size: 1.5vw;
    font-weight: 500;
font-family: divergentes;
}

#content h1{
    font-size: 10vw;
    line-height: 126px;
    font-weight: 500;
    font-family: 'divergentes';
    gap: 30px;
}

#bottom-video{
    height: 100vh;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1{
    height: 90%;
    width: 80%;
    border-radius: 50px;
    position: relative;
}

#box1 h1{
    position: absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 8vw;
    bottom: 30%;
    font-weight: 200;
    line-height: 90px;
    font-family:silk serif;
}

video{
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: brightness(70%);
    position: relative;
}

#page1-last{
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#page1-last h1{
    text-align: center;
    line-height: 30px;
    font-family: divergentes;
    letter-spacing: 1px;
    font-weight: 400;
}

#page1-last p{
    text-align: center;
    font-weight: 500;
}

#page2{
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(238, 131, 1); */
}

.top{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.top h1{
    font-family: divergentes;
}

.top h3{
    font-family: divergentes;
    font-size: 2vw;
}

.top i{
    padding: 7px 7px;
    font-weight: 300;
    cursor: pointer;
}

.top h1 , h3{
    font-weight: 500;
}

.boxes3{
    width: 100%;
    padding: 30px 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.rec1{
    height: 40vh;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1532029837206-abbe2b7620e3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 90% 30%;
    border-radius: 40px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 20px 20px;
}


.rec1 h1{
    color: black;
    font-family: divergentes;
    font-weight: 400;
    font-size: 1.5vw;
    padding: 10px 20px;
    border-radius: 30px;
    height:fit-content;
    width: fit-content;
    background-color: rgb(255, 255, 255);
}

.rec1 i{
    color: black;
    height: fit-content;
    width: fit-content;
    padding:5px;
    background-color: white;
    border-radius: 50%;
    font-size: 1.5vw;
    font-weight: 300;
    cursor: pointer;
}

.rec2{
    height: 40vh;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1490645935967-10de6ba17061?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 90% 30%;
    border-radius: 40px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 20px 20px;
}

.rec2 h1{
    color: black;
    font-family: divergentes;
    font-weight: 400;
    font-size: 1.5vw;
    padding: 10px 20px;
    border-radius: 30px;
    height:fit-content;
    width: fit-content;
    background-color: rgb(255, 255, 255);
}

.rec2 i{
    color: black;
    height: fit-content;
    width: fit-content;
    padding:5px;
    background-color: white;
    border-radius: 50%;
    font-size: 1.5vw;
    font-weight: 300;
    cursor: pointer;
}

.rec3{
    height: 40vh;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1602192509154-0b900ee1f851?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 51% 35%;
    border-radius: 40px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 20px 20px;
}

.rec3 h1{
    color: black;
    font-family: divergentes;
    font-weight: 400;
    font-size: 1.5vw;
    padding: 10px 20px;
    border-radius: 30px;
    height:fit-content;
    width: fit-content;
    background-color: rgb(255, 255, 255);
}

.rec3 i{
    color: black;
    height: fit-content;
    width: fit-content;
    padding:5px;
    background-color: white;
    border-radius: 50%;
    font-size: 1.5vw;
    font-weight: 300;
    cursor: pointer;
}

#page3{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(6, 50, 63); */
}

.page3-top{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    padding: 20px 60px;

}

.page3-top h1{
    font-weight: 300;
    font-family: divergentes;
}

.page3-main{
    height: 90vh;
    width: 100%;
    /* background-color: brown; */
    padding: 0px 60px;
}

.page3-box1{
    height: 30vh;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.page3-box2{
    height: 30vh;
    width: 100%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.page3-box3{
    height: 30vh;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page3-main h1{
    font-size: 7vw;
    font-weight: 300;
    font-family: divergentes;
}

.page3-main i{
    font-size: 7vw;
    font-weight: 400;
    cursor: pointer;
}


#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #212121;
}

.page4-main{
    height: 70vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.page4-main h1{
    text-align: center;
    font-size: 9vw;
    line-height: 110px;
    font-family: divergentes;
    font-weight: 300;
    letter-spacing: 3px;
    color:#f2f2f2;
}

.page4-main p{
    color: #f2f2f2;
    font-weight: 400;
    text-align: center;
}

.page4-main button{
    color: #f2f2f2;
    border:1px solid white;
    font-weight: 400;
}

footer{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    color: #f2f2f2;
}

footer h3{
    font-weight: 300;
}

ul{
    list-style-type: none;
    padding-top: 10px;
    font-weight: 100;
}